## EchoPDF

EchoPDF is a Retrieval-Augmented Generation (RAG) tool that enables users to upload any PDF document, ask questions about its content, and receive tailored, contextually accurate answers. Designed to enhance document accessibility, EchoPDF combines NLP and deep learning to extract and retrieve specific information, providing quick and insightful responses directly from uploaded PDFs.

In [1]:
import os
import requests
from dotenv import load_dotenv

# from utils.helper_functions import open_and_read_pdf

In [2]:
load_dotenv()

# Path to pdf
pdf_path = "human_nutrition.pdf"

# Import the pdf
if not os.path.exists(pdf_path):
    print(f"[INFO]: File doesn't exist")
    file_name = pdf_path

    url = os.getenv("pdf_url")
    
    response = requests.get(url)

    # Check if request was successful
    if response.status_code == 200:
        # Open the file and save it
        with open(file_name, "wb") as file:
            file.write(response.content)
        print(f"[INFO]: File has been downloaded and saved as {file_name}")
    else:
        print(f"[INFO]: Failed to download the file. Status code: {response.status_code}")
else:
    print(f"[INFO]: File already exists.")

[INFO]: File already exists.

In [3]:
import fitz
from tqdm.auto import tqdm

def format_text(input: str) -> str:
    """
    Performs text formatting and returns formatted text
    """
    cleaned_text = input.replace("\n", " ").strip()

    return cleaned_text

def open_and_read_pdf(pdf_path: str):
    """
    Opens the pdf, creates a list of dictionaries for each page, and returns the list
    """
    document = fitz.open(pdf_path)
    pages_and_texts = []
    for page_number, page in tqdm(enumerate(document)):
        text = page.get_text()
        text = format_text(input=text)
        pages_and_texts.append({
                "page_number": page_number - 41,
                "page_char_count": len(text),
                "page_word_count": len(text.split(" ")),
                "page_sentence_count_raw": len(text.split(". ")),
                "page_token_count": len(text) / 4,
                "text": text  
        })
        
    return pages_and_texts

/opt/miniconda3/envs/echopdf/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
# Let's open the pdf and read it's content
pages_and_text = open_and_read_pdf(pdf_path="human_nutrition.pdf")
pages_and_text[:5]

1208it [00:01, 640.47it/s]

[{'page_number': -41,
  'page_char_count': 29,
  'page_word_count': 4,
  'page_sentence_count_raw': 1,
  'page_token_count': 7.25,
  'text': 'Human Nutrition: 2020 Edition'},
 {'page_number': -40,
  'page_char_count': 0,
  'page_word_count': 1,
  'page_sentence_count_raw': 1,
  'page_token_count': 0.0,
  'text': ''},
 {'page_number': -39,
  'page_char_count': 320,
  'page_word_count': 54,
  'page_sentence_count_raw': 1,
  'page_token_count': 80.0,
  'text': 'Human Nutrition: 2020  Edition  UNIVERSITY OF HAWAI‘I AT MĀNOA  FOOD SCIENCE AND HUMAN  NUTRITION PROGRAM  ALAN TITCHENAL, SKYLAR HARA,  NOEMI ARCEO CAACBAY, WILLIAM  MEINKE-LAU, YA-YUN YANG, MARIE  KAINOA FIALKOWSKI REVILLA,  JENNIFER DRAPER, GEMADY  LANGFELDER, CHERYL GIBBY, CHYNA  NICOLE CHUN, AND ALLISON  CALABRESE'},
 {'page_number': -38,
  'page_char_count': 212,
  'page_word_count': 32,
  'page_sentence_count_raw': 1,
  'page_token_count': 53.0,
  'text': 'Human Nutrition: 2020 Edition by University of Hawai‘i at Mānoa Food Science and  Human Nutrition Program is licensed under a Creative Commons Attribution 4.0  International License, except where otherwise noted.'},
 {'page_number': -37,
  'page_char_count': 797,
  'page_word_count': 145,
  'page_sentence_count_raw': 2,
  'page_token_count': 199.25,
  'text': 'Contents  Preface  University of Hawai‘i at Mānoa Food Science and  Human Nutrition Program and Human Nutrition  Program  xxv  About the Contributors  University of Hawai‘i at Mānoa Food Science and  Human Nutrition Program and Human Nutrition  Program  xxvi  Acknowledgements  University of Hawai‘i at Mānoa Food Science and  Human Nutrition Program and Human Nutrition  Program  xl  Part\xa0I.\xa0Chapter 1. Basic Concepts in Nutrition  Introduction  University of Hawai‘i at Mānoa Food Science and  Human Nutrition Program and Human Nutrition  Program  3  Food Quality  University of Hawai‘i at Mānoa Food Science and  Human Nutrition Program and Human Nutrition  Program  14  Units of Measure  University of Hawai‘i at Mānoa Food Science and  Human Nutrition Program and Human Nutrition  Program  18'}]

In [5]:
import random

random.sample(pages_and_text, k=2)

[{'page_number': 341,
  'page_char_count': 1946,
  'page_word_count': 336,
  'page_sentence_count_raw': 17,
  'page_token_count': 486.5,
  'text': 'initially contain polyunsaturated fatty acids. When the process of  hydrogenation is not complete, for example, not all carbon double  bonds have been saturated the end result is a partially hydrogenated  oil. The resulting oil is not fully solid. Total hydrogenation makes  the oil very hard and virtually unusable. Some newer products are  now using fully hydrogenated oil combined with nonhydrogenated  vegetable oils to create a usable fat.  Manufacturers favor hydrogenation as a way to prevent oxidation  of oils and ensure longer shelf life. Partially hydrogenated vegetable  oils are used in the fast food and processed food industries because  they impart the desired texture and crispness to baked and fried  foods. Partially hydrogenated vegetable oils are more resistant to  breakdown from extremely hot cooking temperatures. Because  hydrogenated oils have a high smoking point they are very well  suited for frying. In addition, processed vegetable oils are cheaper  than fats obtained from animal sources, making them a popular  choice for the food industry.  Trans fatty acids occur in small amounts in nature, mostly in  dairy products. However, the trans fats that are used by the food  industry are produced from the hydrogenation process. Trans fats  are a result of the partial hydrogenation of unsaturated fatty acids,  which cause them to have a trans configuration, rather than the  naturally occurring cis configuration.  Health Implications of Trans Fats  No trans fats! Zero trans fats! We see these advertisements on a  regular basis. So widespread is the concern over the issue that  restaurants, food manufacturers, and even fast-food establishments  proudly tout either the absence or the reduction of these fats within  their products. Amid the growing awareness that trans fats may not  be good for you, let’s get right to the heart of the matter. Why are  trans fats so bad?  Lipids and the Food Industry  |  341'},
 {'page_number': 1010,
  'page_char_count': 749,
  'page_word_count': 123,
  'page_sentence_count_raw': 5,
  'page_token_count': 187.25,
  'text': 'available in the web-based textbook and not available in the  downloadable versions (EPUB, Digital PDF, Print_PDF, or  Open Document).  Learning activities may be used across various mobile  devices, however, for the best user experience it is strongly  recommended that users complete these activities using a  desktop or laptop computer and in Google Chrome.  \xa0 An interactive or media element has been  excluded from this version of the text. You can  view it online here:  http://pressbooks.oer.hawaii.edu/ humannutrition2/?p=527  \xa0 An interactive or media element has been  excluded from this version of the text. You can  view it online here:  http://pressbooks.oer.hawaii.edu/ humannutrition2/?p=527  1010  |  The Causes of Food Contamination'}]

In [6]:
import pandas as pd

df = pd.DataFrame(pages_and_text)
df.head()

,page_number,page_char_count,page_word_count,page_sentence_count_raw,page_token_count,text
0,-41,29,4,1,7.25,Human Nutrition: 2020 Edition
1,-40,0,1,1,0.00,
2,-39,320,54,1,80.00,Human Nutrition: 2020 Edition UNIVERSITY OF ...
3,-38,212,32,1,53.00,Human Nutrition: 2020 Edition by University of...
4,-37,797,145,2,199.25,Contents Preface University of Hawai‘i at Mā...

In [7]:
df.describe().round(2)

,page_number,page_char_count,page_word_count,page_sentence_count_raw,page_token_count
count,1208.00,1208.00,1208.00,1208.00,1208.00
mean,562.50,1148.00,198.30,9.97,287.00
std,348.86,560.38,95.76,6.19,140.10
min,-41.00,0.00,1.00,1.00,0.00
25%,260.75,762.00,134.00,4.00,190.50
50%,562.50,1231.50,214.50,10.00,307.88
75%,864.25,1603.50,271.00,14.00,400.88
max,1166.00,2308.00,429.00,32.00,577.00

## Further text processing (splitting pages into sentences)

In [8]:
from spacy.lang.en import English

nlp = English()

nlp.add_pipe("sentencizer")

for item in tqdm(pages_and_text):
    # if (item["text"]):
    item["sentences"] = list(nlp(item["text"]).sents)

    item["sentences"] = [str(sentence) for sentence in item["sentences"]]

    item["page_sentence_count_spacy"] = len(item["sentences"])

100%|██████████| 1208/1208 [00:01<00:00, 941.46it/s]

In [9]:
random.sample(pages_and_text, k=1)

[{'page_number': 407,
  'page_char_count': 1096,
  'page_word_count': 206,
  'page_sentence_count_raw': 11,
  'page_token_count': 274.0,
  'text': '•  Get your protein from foods such as soybeans, tofu,  tempeh, lentils, and beans, beans, and more beans.  Many of these foods are high in zinc too.  •  Eat foods fortified with vitamins B12 and D and  calcium. Some examples are soy milk and fortified  cereals.  •  Get enough iron in your diet by eating kidney  beans, lentils, whole-grain cereals, and leafy green  vegetables.  •  To increase iron absorption, eat foods with vitamin  C at the same time.  •  Don’t forget that carbohydrates and fats are  required in your diet too, especially if you are  training. Eat whole-grain breads, cereals, and pastas.  For fats, eat an avocado, add some olive oil to a salad  or stir-fry, or spread some peanut or cashew butter  on a bran muffin.  Learning Activities  Technology Note: The second edition of the Human  Nutrition Open Educational Resource (OER) textbook  features interactive learning activities.\xa0 These activities are  available in the web-based textbook and not available in the  downloadable versions (EPUB, Digital PDF, Print_PDF, or  Open Document).  Proteins in a Nutshell  |  407',
  'sentences': ['•  Get your protein from foods such as soybeans, tofu,  tempeh, lentils, and beans, beans, and more beans.',
   ' Many of these foods are high in zinc too.',
   ' •  Eat foods fortified with vitamins B12 and D and  calcium.',
   'Some examples are soy milk and fortified  cereals.',
   ' •  Get enough iron in your diet by eating kidney  beans, lentils, whole-grain cereals, and leafy green  vegetables.',
   ' •  To increase iron absorption, eat foods with vitamin  C at the same time.',
   ' •  Don’t forget that carbohydrates and fats are  required in your diet too, especially if you are  training.',
   'Eat whole-grain breads, cereals, and pastas.',
   ' For fats, eat an avocado, add some olive oil to a salad  or stir-fry, or spread some peanut or cashew butter  on a bran muffin.',
   ' Learning Activities  Technology Note: The second edition of the Human  Nutrition Open Educational Resource (OER) textbook  features interactive learning activities.',
   '\xa0 These activities are  available in the web-based textbook and not available in the  downloadable versions (EPUB, Digital PDF, Print_PDF, or  Open Document).',
   ' Proteins in a Nutshell  |  407'],
  'page_sentence_count_spacy': 12}]

In [10]:
df = pd.DataFrame(pages_and_text)
df.describe().round(2)

,page_number,page_char_count,page_word_count,page_sentence_count_raw,page_token_count,page_sentence_count_spacy
count,1208.00,1208.00,1208.00,1208.00,1208.00,1208.00
mean,562.50,1148.00,198.30,9.97,287.00,10.32
std,348.86,560.38,95.76,6.19,140.10,6.30
min,-41.00,0.00,1.00,1.00,0.00,0.00
25%,260.75,762.00,134.00,4.00,190.50,5.00
50%,562.50,1231.50,214.50,10.00,307.88,10.00
75%,864.25,1603.50,271.00,14.00,400.88,15.00
max,1166.00,2308.00,429.00,32.00,577.00,28.00

## Splitting the sentences into chunks

In [11]:
chunk_size = 10

def split_sentences(input_list, slize_size = chunk_size):
    return [input_list[i:i+slize_size] for i in range(0, len(input_list), slize_size)]

In [12]:
# Loop through the pages and text and split sentences into chunks
for item in tqdm(pages_and_text):
    item["sentence_chunks"] = split_sentences(input_list=item["sentences"])
    item["num_chunks"] = len(item["sentence_chunks"])

100%|██████████| 1208/1208 [00:00<00:00, 940196.55it/s]

In [13]:
df = pd.DataFrame(pages_and_text)
df.describe().round(2)

,page_number,page_char_count,page_word_count,page_sentence_count_raw,page_token_count,page_sentence_count_spacy,num_chunks
count,1208.00,1208.00,1208.00,1208.00,1208.00,1208.00,1208.00
mean,562.50,1148.00,198.30,9.97,287.00,10.32,1.53
std,348.86,560.38,95.76,6.19,140.10,6.30,0.64
min,-41.00,0.00,1.00,1.00,0.00,0.00,0.00
25%,260.75,762.00,134.00,4.00,190.50,5.00,1.00
50%,562.50,1231.50,214.50,10.00,307.88,10.00,1.00
75%,864.25,1603.50,271.00,14.00,400.88,15.00,2.00
max,1166.00,2308.00,429.00,32.00,577.00,28.00,3.00

### Splitting each chunk into its own item

In [14]:
import re

pages_and_chunks = []

for item in tqdm(pages_and_text):
    for sentence_chunk in item["sentence_chunks"]:
        chunk_dict = {}

        chunk_dict["page_number"] = item["page_number"]
        joined_sentence_chunk = "".join(sentence_chunk).replace("  ", " ").strip()
        joined_sentence_chunk = re.sub(r"\.([A-Z])", r". \1", joined_sentence_chunk)

        chunk_dict["sentence_chunk"] = joined_sentence_chunk
        chunk_dict["chunk_char_count"] = len(joined_sentence_chunk)
        chunk_dict["chunk_word_count"] = len([word for word in joined_sentence_chunk.split(" ")])
        chunk_dict["chunk_token_count"] = len(joined_sentence_chunk) / 4

        pages_and_chunks.append(chunk_dict)

len(pages_and_chunks)

100%|██████████| 1208/1208 [00:00<00:00, 18520.54it/s]

1843

In [15]:
df = pd.DataFrame(pages_and_chunks)
df.describe().round(2)

       page_number  chunk_char_count  chunk_word_count  chunk_token_count
count      1843.00           1843.00           1843.00            1843.00
mean        583.38            734.44            112.33             183.61
std         347.79            447.54             71.22             111.89
min         -41.00             12.00              3.00               3.00
25%         280.50            315.00             44.00              78.75
50%         586.00            746.00            114.00             186.50
75%         890.00           1118.50            173.00             279.62
max        1166.00           1831.00            297.00             457.75

In [21]:
min_token_length = 30

for row in df[df["chunk_token_count"] > min_token_length].sample(5).iterrows():
    print(f'Chunk token count: {row[1]["chunk_token_count"]} | Text: {row[1]["sentence_chunk"]}')

Chunk token count: 176.5 | Text: • Binge-Eating Disorder. People who suffer from binge-eating disorder experience regular episodes of eating an extremely large amount of food in a short period of time. Binge eating is a compulsive behavior, and people who suffer from it typically feel it is beyond their control. This behavior often causes feelings of shame and embarrassment, and leads to obesity, high blood pressure, high cholesterol levels, Type 2 diabetes, and other health problems. Both males and females suffer from binge-eating disorder. It affects 1 to 5 percent of the 3. Eating Disorder Statistics. North Dakota State University.http://www.ndsu.edu/fileadmin/ counseling/Eating_Disorder_Statistics.pdf. Accessed March 5, 2012.
Chunk token count: 187.0 | Text: usage. Learning Activities Technology Note: The second edition of the Human Nutrition Open Educational Resource (OER) textbook features interactive learning activities.  These activities are available in the web-based textbook and not available in the downloadable versions (EPUB, Digital PDF, Print_PDF, or Open Document). Learning activities may be used across various mobile devices, however, for the best user experience it is strongly recommended that users complete these activities using a desktop or laptop computer and in Google Chrome.   An interactive or media element has been excluded from this version of the text. You can view it online here: http://pressbooks.oer.hawaii.edu/ humannutrition2/?p=65   52 | Types of Scientific Studies
Chunk token count: 47.5 | Text: Image by Jennifer Draper / CC BY 4.0 Image by CDC / Unsplash License Intuitive Eating Intuitive eating is a non-diet approach to eating that promotes a Calories In Versus Calories Out | 1073
Chunk token count: 180.5 | Text: Sweeteners with Trade Name Calories Source/Origin Consumer Recommendations Controversial Issues Aspartame • NutraSweet • Equal 4 kcal/g Composed of two amino acids (phenylalanine + aspartic acid) + methanol. Two hundred times sweeter than sucrose. FDA set maximum Acceptable Daily Intakes (ADI):50 mg/kg body weight = 16 12 oz. diet soft drinks for adults. *Cannot be used in products requiring cooking. People with PKU should not consume aspartame. Children have potential to reach ADI if consuming many beverages, desserts, frozen desserts, and gums containing aspartame routinely. Saccharin • Sweet ‘n’ Low 0 kcal/g Discovered in 1878. The basic substance is benzoic sulfinide. Three hundred times sweeter than sucrose.
Chunk token count: 390.75 | Text: inhibits milk secretion. Shortly after birth, the expulsion of the placenta triggers progesterone levels to fall, which activates lactation.15 When the infant suckles at the breast, levels of the hormone oxytocin rise to promote the release of breast milk from the breast when the infant suckles, which is known as the milk- ejection reflex. New mothers usually find that their appetite and thirst is greater than before pregnancy; it is recommended that they still focus on nutrient-dense foods to nourish their body and replace their body’s nutrient stores. A conservative rate of weight loss (1-2 pounds per week) during lactation does not usually impact the quantity or quality of breast milk, but maternal deficiencies in some nutrients have been described during lactation. The nutrient content of breastmilk does not change much based upon maternal diet for most nutrients. The RDA for energy is 330 additional Calories during the first six months of lactation and 400 additional Calories during the second six months of lactation. The energy needed to support breastfeeding comes from both increased intake and from stored fat. For example, during the first six months after her baby is born, the daily caloric cost for a lactating mother is 500 Calories, with 330 calories derived from increased intake and 170 Calories derived from maternal fat stores. This helps explain why breastfeeding may promote weight loss in new mothers. Lactating women should also drink 3.1 liters of liquids per day (about 13 cups) to avoid dehydration, according to the IOM.

In [22]:
pages_and_chunks_over_min_token_len = df[df["chunk_token_count"] > min_token_length].to_dict(orient="records")

In [23]:
pages_and_chunks_over_min_token_len[:2]

[{'page_number': -39,
  'sentence_chunk': 'Human Nutrition: 2020 Edition UNIVERSITY OF HAWAI‘I AT MĀNOA FOOD SCIENCE AND HUMAN NUTRITION PROGRAM ALAN TITCHENAL, SKYLAR HARA, NOEMI ARCEO CAACBAY, WILLIAM MEINKE-LAU, YA-YUN YANG, MARIE KAINOA FIALKOWSKI REVILLA, JENNIFER DRAPER, GEMADY LANGFELDER, CHERYL GIBBY, CHYNA NICOLE CHUN, AND ALLISON CALABRESE',
  'chunk_char_count': 308,
  'chunk_word_count': 42,
  'chunk_token_count': 77.0},
 {'page_number': -38,
  'sentence_chunk': 'Human Nutrition: 2020 Edition by University of Hawai‘i at Mānoa Food Science and Human Nutrition Program is licensed under a Creative Commons Attribution 4.0 International License, except where otherwise noted.',
  'chunk_char_count': 210,
  'chunk_word_count': 30,
  'chunk_token_count': 52.5}]

## Embedding the chunks